:root {
  text-rendering: optimizeLegibility;
  font-family: -apple-system, 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 5rem;
  background-color: #FAFAFA;
}

section {
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  max-width: 760px;
  margin: 5rem auto 0 auto;
}

footer {
  height: 3rem;
  position: relative;
  background-color: #FAFAFA;
}

.content {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 1rem;
}
